/*
------------
Wasabi Modal
------------
*/


.wasabi_modal_standard .modal-content {
    padding: 15px;
}

.wasabi_modal_standard .modal-header {
    background-color: #107FC9;
    color: #fff;
    margin: 4px -29px 16px -29px;
    padding: 3px 10px 6px 12px;
    font-size: 100%;
    line-height: 1.2;
    position: relative;
    border-bottom: none;
    box-shadow: 0 1px 2px #5e5e61;
}

.wasabi_modal_standard .modal-title {
    color: #fff;
}

.wasabi_modal_standard .modal-header:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 0px;
    top: 100%;
    border-width: 3px 7px;
    border-style: solid;
    border-color: #085782 transparent transparent #085782;
}
.wasabi_modal_standard .modal-header:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0px;
    top: 100%;
    border-width: 3px 7px;
    border-style: solid;
    border-color: #085782 #085782 transparent transparent;
}

.wasabi_modal_standard .modal-header .close {
    color: #fff;
    float: right;
    font-size: 100%;
    font-weight: 300;
    margin-top: 4px;
    line-height: 1;
    opacity: 1;
    text-shadow: 0 1px 0 #fff;
}
.wasabi_modal_standard .modal-body {
    padding: 0;
}

.wasabi_modal_standard .modal-body img {
    margin: 0 auto;
}

.wasabi_modal_standard .modal-body h3 {
    margin-bottom: 10px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e2e2e2;
}

.wasabi_modal_standard .modal-body h3 span {
    font-size: 70%;
    padding: 4px 0 0 0;
}

.wasabi_modal_standard p {
    font-size: 95%;
    margin-bottom: 0;
}

.wasabi_modal_standard .modal-footer {
    border-top: 1px solid #e2e2e2;
    padding: 15px 0 0 0;
    text-align: left;
}

.wasabi_modal_standard .modal-footer .buttons-wrap {
    float: right;
}

/* Fliesstext and Links inside Footer --- to be added to php controller? */

.wasabi_modal_standard .modal-footer .modal-footer-text {
    color: #797979;
    font-size: 80%;
    line-height: 1.4;
}

